
* {
    margin: 0;
    padding: 0;
}

.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

/** Block's parameters **/

.container {
    width: 1200px;
    margin: 20px auto;
    border: 10px solid white;
    display: flex;
    flex-direction: row;
    background: darkcyan;
}

.container2 {
    width: 1200px;
    margin: 20px auto;
}

.right, .left {
    width: 50%;
    height: 600px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main {
    display: flex;
    height: 300px;
    justify-content: space-between;
}

.figure {
    height: 150px;
    width: 450px;
    margin: 25px;
    border-radius: 6px;
}

.figure1 {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 300px;
    margin: 15px;
    border: 1px solid #5b5757;
}

.block1 {
    margin: 60px 20px 10px 20px;
    justify-content: center;
}

.block2 {
    margin: 20px;
    text-align: center;
}

.block3 {
    padding: 5px 60px 5px 60px;
    border: 1px solid #5b5757;
    background: darkcyan;
}

.block4 {
    width: 300px;
    padding: 20px;
}

.third {
    margin-top: 5px;
}

.fourth {
    margin-top: 5px;
}

/** Text style **/

.text1 {
    font-size: 25px;
    color: #b74444;
    padding-bottom: 15px;
}

.text2 {
    font-size: 12px;
    color: #180909;
}

.text3 {
    font-size: 30px;
    color: #590808;
}

.text4 {
    font-size: 20px;
    color: #858181;
}

.text5 {
    font-size: 20px;
    color: #eee6ee
}

.name {
    font-size: 30px;
    color: black;
    text-align: center;
}


/** Block's colors **/

.box2, .box3, .box4 {
    background-color: snow;
    display: flex;
    flex-direction: row;
}






