.main {
    width: 900px;
    height: 600px;
    margin: 50px;
    border: black solid 3px;
    border-radius: 10px;
}

.main1 {
    width: 900px;
    height: 660px;
    margin: 50px;
    border: black solid 3px;
    border-radius: 10px;
}

.blockA {
    height: 150px;
    background-color: silver;
    margin: 10px;
    font-size: 56px;
    border-radius: 6px;
    padding: 60px 200px 0 400px;
}

.footer {
    display: flex;
    flex-direction: row;
}

.blockB {
    width: 600px;
    height: 230px;
    background-color: silver;
    margin: 10px;
    font-size: 56px;
    border-radius: 6px;
    padding: 120px 50px 0 260px;
}

.blockC, .blockF {
    width: 220px;
    height: 230px;
    background-color: silver;
    margin: 10px;
    font-size: 56px;
    border-radius: 6px;
    padding: 120px 50px 0 120px;
}

.blockH {
    width: 220px;
    height: 230px;
    background-color: silver;
    margin: 10px;
    font-size: 56px;
    border-radius: 6px;
    padding: 170px 50px 0 120px;
}

.footer_left, .footer_left1 {
    width: 600px;
    height: 230px;
    display: flex;
    flex-direction: column;
    font-size: 56px;
    border-radius: 6px;
}

.footer_left_blockB {
    width: 230px;
    height: 120px;
    background-color: silver;
    margin: 10px;
    font-size: 56px;
    border-radius: 6px;
    padding: 50px 50px 25px 300px;
}

.footer_left_blocks {
    display: flex;
    flex-direction: row;
}

.footer_left_blocks_blockC, .footer_left_blocks_blockD, .footer_left_blocks_blockE {
    width: 180px;
    height: 140px;
    background-color: silver;
    margin: 10px;
    font-size: 56px;
    border-radius: 6px;
    padding: 50px 10px 0 70px;
}

.footer_left_blocks_blockC1, .footer_left_blocks_blockD1, .footer_left_blocks_blockE1 {
    width: 180px;
    height: 140px;
    background-color: silver;
    margin: 10px;
    font-size: 56px;
    border-radius: 6px;
    padding: 50px 10px 0 70px;
}
